* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  background: #eee;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17537a;
  font-family: "Poppins", sans-serif;
}
.logo {
    position: absolute; /* or relative, depending on your layout */
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
}
.logo a{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
font-size: 1.2rem;
color: #fff;

}
a:hover{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}

/* Events Highlights */


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-container {
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    
}

.body-container {
    position: relative;
}

.overlay {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title,
.price {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* This is the styling for the footer only */
/* Footer styling */
.footer {
  background-color: #011c39;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  flex: 1;
  margin-right: 20px;
  max-width: 25%;
}

.footer-left img {
  max-width: 100%;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row if needed */
  justify-content: space-between; /* Distribute space between sections */
}

.footer-links,
.footer-address {
  flex-basis: calc(
    50% - 20px
  ); /* Set the width of each section to 50% with some spacing */
}

.footer-links h2,
.footer-address h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-address ul {
  list-style: none;
  padding-left: 0;
}

.footer-links li,
.footer-address li {
  margin-bottom: 5px;
}

.footer-links a,
.footer-address a {
  text-decoration: none;
  color: #999;
}
.footer p {
  margin: 15px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #999;
}

#whatsapp-icon,
#facebook-icon,
#twitter-icon {
  margin-bottom: 55px;
  font-size: 2rem;
  margin-top: 50px;
}

.socials a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.socials a i {
  color: #e7f2f4;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px;
  flex-basis: 100%;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 15px;
    text-align: center;
  }
  .footer-left {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-right {
    max-width: 100%;
  }
  body {
    font-size: 16px;
  }
}

/* API Map */

map {
  flex-basis: calc(
    50% - 20px
  ); /* Set the width of the map to 50% with some spacing */
}

map img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}