/* will add comments later*/
.header{

    position: Fixed;
    top: 0;
    display: flex;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #4a6be5;
    display: flex;
   align-items: right;
   z-index:100;
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font: weight 700px;
}

.navbar a{
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}