body{
  background:rgb(220, 236, 250);
}


h2{
  margin-top: 250px;
  color: rgb(74, 121, 252);
  font-size: 3.5rem;
  font-family: "DM Serif Display";
}
.collapse-navbar-collapse{
  color: azure;
}

  .slide-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#efefef;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.slide-content{
    margin: 0 40px;

}

.card{
    border-radius: 25px;
    background-color: #FFF;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}

.image-content{
    position: relative;
    row-gap: 5px;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: red;
}

.overlay::after{
    border-radius: 0 25px 0 0;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image ,.card-img{
   height: 100%;
   width: 100%;
   object-fit: cover; 
   border-radius: 50%;
   border: 4px solid #4070F4;
}

.description{
    font-size:14px;
    color: #707070;
    text-align: center;
}

.btn{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}