@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(220, 236, 250);

  display: grid;
}

/* navbar css styling */
#hero {
  width: 100%;
  height: 1000px;
  background: url("images/medical-1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 32px;
}
.container-h {
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.navbar .logo {
  margin-bottom: 20%;
  margin-left: 20px;
}
.navbar .menu a {
  color: #ffffff;
  font-size: 20px;
  padding: 30px;
  font-weight: 900;
  transition-duration: 0.4sS;
  letter-spacing: 0.54px;
}
.navbar .menu a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}
.hero-box .hero-heading {
  color: #ffffff;
  font-size: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.btn-box {
  width: 11%;
  background: #ffffff;
  padding: 25px;
  border: #ffffff;
  border-radius: 25px;
  margin-left: 100px;
  text-align: center;
}
.btn-box a {
  color: #2e2c2c;
}

.btn-box .btn-join {
  margin-top: 60px;
}
/* heading for about and services borders */
.border1 {
  margin: 2%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #053067;
}

.border2 {
  margin-top: 2%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #053067;
}
.border3,
.border4 {
  margin: 1%;
}

/* about us Styling*/
.aboutUs {
  margin: 2%;
}

.Vision {
  text-align: center;
  font-size: 20px;
}
.Vision p {
  font-style: italic;
}

.container-aboutUs {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.column {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.container-aboutUs-images {
  max-width: 100px;
  margin: 0 auto 10px;
}

.bold-p {
  font-weight: bold;
}
.about-us-images {
  cursor: pointer;
  transition: transform 0.2s;
}
.image-hover:hover {
  transform: scale(1.1); /* Increase the size of the image on hover */
}
/* Styling for Services and The Cards/slideshow*/

.services {
  background: #a8d5e8;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.wrapper {
  width: 80%;
  margin: 3%;
  margin-left: 10rem;
  background-color: #fff;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.image-responsive {
  padding: 1.5rem;
}
.article-info {
  margin-right: 0;
  padding: 2rem;
}
.articleTitle {
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: 1.5rem;
  color: #534c46;
}
.articleText {
  font-size: 1.5rem;
}

/*contact form styling*/

ul {
  list-style: none;
}
.form-container {
  display: flex;
  align-items: center; /* Vertically align items */
}

.form-photo {
  flex: 1; /* Take up remaining space on the left */
}

.form-photo img {
  border: 2px solid transparent;
  border-radius: 2rem;
  max-width: 100%;
  height: auto;
}

.container-form {
  width: 400px; /* Set the width of the form to 400px */
  background-color: #b9d9eb;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


form {
  width: 100%; /* Make the form take up the full width of the container */
}


label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.
/* join us form*/
.join-form {
  background-color: #b9d9eb;
  border-radius: 50px;
  padding: 20px;
  width: 30%;
  margin-left: 35%;
  margin-top: 30px;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.join-form h5 {
  margin-top: 0;
  font-size: 20px;
}
input,
select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  background-color: #0073e6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.benefits {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*Social media icon styling*/
#whatsapp-icon {
  color: #27d367;
  font-size: 1.5rem;
}
#facebook-icon {
  color: #1093f4;
  font-size: 1.5rem;
}
#twitter-icon {
  color: #0f1419;
  font-size: 1.5rem;
}

/* This is the styling for the footer only */
/* Footer styling */
.footer {
  background-color: #011c39;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  flex: 1;
  margin-right: 20px;
  max-width: 25%;
}

.footer-left img {
  max-width: 100%;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row if needed */
  justify-content: space-between; /* Distribute space between sections */
}

.footer-links,
.footer-address {
  flex-basis: calc(
    50% - 20px
  ); /* Set the width of each section to 50% with some spacing */
}

.footer-links h2,
.footer-address h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-address ul {
  list-style: none;
  padding-left: 0;
}

.footer-links li,
.footer-address li {
  margin-bottom: 5px;
}

.footer-links a,
.footer-address a {
  text-decoration: none;
  color: #999;
}
.footer p {
  margin: 15px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #999;
}

#whatsapp-icon,
#facebook-icon,
#twitter-icon {
  margin-bottom: 55px;
  font-size: 2rem;
  margin-top: 50px;
}

.socials a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.socials a i {
  color: #e7f2f4;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px;
  flex-basis: 100%;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 15px;
    text-align: center;
  }
  .footer-left {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-right {
    max-width: 100%;
  }
  body {
    font-size: 16px;
  }
}

/* API Map */

map {
  flex-basis: calc(
    50% - 20px
  ); /* Set the width of the map to 50% with some spacing */
}

map img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

