:root{
    --text-color: rgb(74, 121, 252);;
    --hover-color:#FFF;
    --neon-box-shadow:0 0.5rem #44fcfc;
    --font-neon-text-shadow:0 0 10px rgba(185, 235, 250, 0.32),
    0 0 20px rgba(185, 235, 250, 0.32),
    0 0 30px rgba(185, 235, 250, 0.32),
    0 0 40px rgba(185, 235, 250, 0.32),
    0 0 70px rgba(1185, 235, 250, 0.32),
    0 0 80px rgba(185, 235, 250, 0.32),
    0 0 100px rgba(185, 235, 250, 0.32),
    0 0 150px rgba(185, 235, 250, 0.32);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
   
}

body{
  background:rgb(220, 236, 250);
}

h2{
  margin-top: 250px;
  color: rgb(74, 121, 252);
  font-size: 3.5rem;
  font-family: "DM Serif Display";
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20.1px;
    text-decoration: none;
}
.navbar a:hover{
color: var(--hover-color);
text-shadow:0 0 10px rgb(181, 245, 245),
0 0 20px rgb(181, 245, 245),
0 0 30px rgba(181, 245, 245),
0 0 40px rgba(181, 245, 245),
0 0 70px rgba(181, 245, 245),
0 0 80px rgba(181, 245, 245),
0 0 100px rgba(181, 245, 245),
0 0 150px rgba(181, 245, 245); 
}

.slide-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#efefef;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.slide-content{
    margin: 0 40px;
}

.card{
    width: 320px;
    border-radius: 25px;
    background-color: #FFF;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image, .card-img{
   height: 100%;
   width: 100%;
   object-fit: cover; 
   border-radius: 50%;
   border: 4px solid #4070F4;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size:14px;
    color: #707070;
    text-align: center;
}

.btn{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
background:#265Df2;

}