/* will add comments later*/
.header {
  position: Fixed;
  top: 0;
  display: flex;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #4a6be5;
  display: flex;
  align-items: right;
  z-index: 100;
}
.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font: weight 700px;
}

.navbar a {
  font-size: 10px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
/* this is the contact us css section*/
.back-homepage {
  margin-top: 70px;
}
h1 {
  text-align: center;
  margin-top: 100px;
  padding: 5px;
}
p {
  text-align: center;
  padding: 5px;
}

label {
  padding: 3px;
}
fieldset {
  padding: 3px;
  border: none;
  outline: none;
}
label,
input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2px;
}

button {
  width: 15%;
  background-color: #4a6be5;
  border: 2px solid transparent;
  border-radius: 5px;
  display: block;
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 5px;
}
