
/* this is the contact us css section*/
.back-homepage {
  margin-top: 70px;
}
h1 {
  text-align: center;
  margin-top: 100px;
  padding: 5px;
}
p {
  text-align: center;
  padding: 5px;
}

label {
  padding: 3px;
}
fieldset {
  padding: 3px;
  border: none;
  outline: none;
}
label,
input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2px;
}

button {
  width: 15%;
  background-color: #4a6be5;
  border: 2px solid transparent;
  border-radius: 5px;
  display: block;
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 5px;
}
/*This is the homepage plus navbar css section*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #2125f7;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(6, 6, 6);
}

/* Add a color to the active/current link */

.topnav img {
  float: left;
  width: 40px;
  margin: 8px;
}
#logo_name {
  float: left;
}
body {
  background-image: url("images/backround.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
}
.col img {
  height: 600px;
}

