@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(220, 236, 250);

  display: grid;
}

/* navbar css styling */
#hero {
  width: 100%;
  height: 850px;
  background: url("images/medical-1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 32px;
}
.container-h {
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 90%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 80px;
  align-items:center ;
  
}
.scroll{
  background: #a8d5e8;
  top: -100px;
  border-radius: 20px;
  width: 90%;
  animation: fadedown .4s ease 1s forwards;
}
@keyframes fadedown{
  0%{
    top: -100px;
  }
  100%{
    top: 20px;
  }
}
.navbar .logo {
  margin-top:20px;
  margin-right:50px;
}
.logo{
  cursor: pointer;
  -webkit-background-clip: text;
  color: transparent;

}
.navbar .menu a {
  color: #ffffff;
  font-size: 20px;
  padding: 30px;
  font-weight: 900;
  transition-duration: 0.4s;
  letter-spacing: 0.54px;
}
.navbar .menu a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}
.hero-box .hero-heading {
  color: #ffffff;
  font-size: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.hero-heading{
  margin-top: 21%;
}
.btn-box {
  width: 11%;
  font-size: 1.5rem;
  font-weight: 700;
  background: #ffffff;
  padding: 25px;
  border: #ffffff;
  border-radius: 25px;
  margin-left: 100px;
  text-align: center;
}
.btn-box a {
  color: #2e2c2c;
}

.btn-box .btn-join {
  margin-top: 60px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

/* heading for about and services borders */
.border1 {
  margin: 2%;
  padding: 2rem;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #053067;
}

.border2 {
  margin-top: 2%;
  padding: 2rem;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #053067;
}
.border3,
.border4 {
  margin: 1%;
  color: #053067;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

/* about us Styling*/
.aboutUs {
  margin: 2%;
}

.Vision {
  text-align: center;
  font-size: 20px;
}
.Vision p {
  font-style: italic;
}

.container-aboutUs {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.column {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.container-aboutUs-images {
  max-width: 100px;
  margin: 0 auto 10px;
}

.bold-p {
  font-weight: bold;
}
.about-us-images {
  cursor: pointer;
  transition: transform 0.2s;
}
.image-hover:hover {
  transform: scale(1.1); /* Increase the size of the image on hover */
}
/* Styling for Services and The Cards/slideshow*/

.services {
  background: #a8d5e8;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

}
.wrapper {
  width: 80%;
  margin: 3%;
  margin-left: 10rem;
  background-color: #fff;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.image-responsive {
  padding: 1.5rem;
}
.article-info {
  margin-right: 0;
  padding: 2rem;
}
.articleTitle {
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: 1.5rem;
  color: #011C39;
}
.articleText {
  font-size: 1.5rem;
}
  .dot {
    cursor: pointer;
  }
/*contact form styling*/

ul {
  list-style: none;
}

/*contact form styling*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-photo-container {
  text-align: center;
  margin-bottom: 50px; 

}

.form-photo {
  flex: 1; 
  margin: 0; 
  padding: 0; 
  margin-left: 10%;
}

.form-photo img {
  max-width: 100%;
  height: auto;
}
@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.bounce-image {
  animation: bounce 4s infinite;
}


.container-form {
  width: 600px;
  padding: 20px;
  margin-right: 9%;

  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

form {
  width: 80%;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #b9d9eb;
  padding: 5%;
  margin-left:10% ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}
/* Style the form title */
h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10%;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* join us form*/
.join-form {
  background-color: #b9d9eb;
  border-radius: 50px;
  padding: 20px;
  width: 40%;
  margin-left: 35%;
  margin-bottom: 30px;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.join-form h5 {
  margin-top: 0;
  font-size: 20px;
}
input,
select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  background-color: #0073e6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.benefits {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*Social media icon styling*/
#whatsapp-icon {
  color: #27d367;
  font-size: 1.5rem;
}
#facebook-icon {
  color: #1093f4;
  font-size: 1.5rem;
}
#twitter-icon {
  color: #0f1419;
  font-size: 1.5rem;
}

/* This is the styling for the footer only */
/* Footer styling */
.footer {
  background-color: #011c39;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  flex: 1;
  margin-right: 20px;
  max-width: 25%;
}

.footer-left img {
  max-width: 100%;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.footer-links,
.footer-address {
  flex-basis: calc(
    50% - 20px
  ); 
}

.footer-links h2,
.footer-address h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-address ul {
  list-style: none;
  padding-left: 0;
}

.footer-links li,
.footer-address li {
  margin-bottom: 5px;
}

.footer-links a,
.footer-address a {
  text-decoration: none;
  color: #999;
}
.footer p {
  margin: 15px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #999;
}

#whatsapp-icon,
#facebook-icon,
#twitter-icon {
  margin-bottom: 55px;
  font-size: 2rem;
  margin-top: 50px;
}

.socials a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.socials a i {
  color: #e7f2f4;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px;
  flex-basis: 100%;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 15px;
    text-align: center;
  }
  .footer-left {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-right {
    max-width: 100%;
  }
  body {
    font-size: 16px;
  }
}

/* API Map */

map {
  flex-basis: calc(
    50% - 20px
  ); /* Set the width of the map to 50% with some spacing */
}

map img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

