
/* this is the contact us css section*/
.back-homepage {
  margin-top: 70px;
}
h1 {
  text-align: center;
  margin-top: 100px;
  padding: 5px;
}
p {
  text-align: center;
  padding: 5px;
}

label {
  padding: 3px;
}
fieldset {
  padding: 3px;
  border: none;
  outline: none;
}
label,
input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2px;
}

button {
  width: 15%;
  background-color: #4a6be5;
  border: 2px solid transparent;
  border-radius: 5px;
  display: block;
  font-size: 1.6rem;
  padding: 5px;
  margin-left: 5px;
}
/*This is the homepage plus navbar css section*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #2125f7;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(6, 6, 6);
}

/* Add a color to the active/current link */

.topnav img {
  float: left;
  width: 40px;
  margin: 8px;
}
#logo_name {
  float: left;
}
body {
  background-image: url("images/backround.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
}
.col img {
  height: 600px;
}
.col p{
  border-top-left-radius: 1px;
}
/* applying CSS to the about us page*/
h2{
  color: black;
  font-size: 40px;
  margin-top: 100px;
}
h3{
  color: black;
  font-size: 40px;
}

.vision-statement{
  text-align: left;
font-size: 20px;
line-height: 1.5;


}

.mission-statement{
  text-align: left;
  font-size: 20px;
line-height: 1.5;
}

/* Styling for the cards*/
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.card{
  background-color: black;
  width: 270px;
  margin: 10px;
  border-radius: 15px;

}

.card-image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}


.img1 {
    background-image: url("images/schedule.png");
  margin: 20%;
}

.img2 {
  background-image: url("images/assistance.png");
  margin: 20%;
}

.img3 {
  background-image: url("images/prescription.png");
  margin: 20%;
}

.img4 {
  background-image: url("images/mental.png");
  margin: 20%;
}

.card p{
  padding: 10px;
  color: white;
}

.card h2 {
  color: white;
  padding: 10%;
  margin: 0;
}

.card a{
  background-color: red;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

.card:hover{
  background-color: rgb(red, green, blue);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
.form{
  width: 250px;
  height:380px ;
  background: linear-gradient( to top,rgb(188, 188, 243));
  position: relative;
  top: 20px;
  border-radius: 10px;
  padding: 25px;
}
.form h2{
  width: 200px;
  text-align: center;
}  

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  width: 420px;
  top: 20px;
}
.form h4{
  color: #2125f7;
  font-size: 22px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  height: 10px;
  padding: 19px;
  margin: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: content-box;
  background: transparent;
}

/* Set a style for  button */
button {
  background-color: #68d2fc;
  color: white;
  padding: 14px 10px;
  margin: 8px ;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
  font-size: 15px;
  text-align: center;
  transition: 0.4 ease;
}

/* Add a hover effect for button */
button:hover {
  background-color: rgb(71, 66, 66);
  color: rgb(120, 120, 241);
}
.button a{
text-decoration: none;
color:black;
font-weight: bold;
}

.form .link{
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form.link a{
  text-decoration: none;
  color: #2125f7;
}
.logwith{
  padding-bottom: 10px;
  text-align: center;

}
.icon a{
  color: #0d0d1d;
}
/* Add padding to containers */
.container {
  padding: 16px 17px;
}

/* The "Forgot password" text */
span.password {
  padding-top: 16px;
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
  span.passw {
    display: block;
    float: none;
  }
}